.Dashboard-text p, .Dashboard-text h3 {
  margin-bottom: 0px !important;
}

.box-shadow:hover {
  background: var(--custom-complementary-400);
  box-shadow: 2px 2px 7px #999;
  transition: all 100ms ease-in-out;
}
.box-shadow:active {
  box-shadow: 2px 2px 3px #999;
  transform: translateY(1px);
  transition: all 100ms ease-in-out;
}

.Dashboard-image {
  float: left;
  padding: 10px 15px;
}

.Dashboard-image-normalize {
  height: 100px;
}