:root {
  --slider-thumb-width: 1px;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 10px;
  width: var(--slider-thumb-width);
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
}
