.Nav-icons {
  color: rgb(168, 167, 167);
  background: white;
  padding: 5px;
  box-shadow: 0px 2px 3px var(--custom-complementary-400);
}

.Icon-box span {
  font-variant: small-caps;
  line-height: 10px;
  font-size: 0,5rem;
  color: black;
}

.NavMatches-Msg-comment {
  position: relative;
}

.NavMatches-Msg-num {
  position: absolute;
  color: #f500006e;
  font-size: 1.6rem;
  top: 0;
  left: 0;
  transform: translate(100%, -30%);
}

.NavMatches-Msg-num span {
  position: absolute;
  color: black;
  font-size: 1.33rem;
  font-family: sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
